.hero {
    height: 500px;
    transition: all 0.5s;
    font-family: "Poppins", serif;
    margin-bottom: 50px;
}
.hero_item{
    display: flex;
}
.hero_left{
    flex-basis: 40%;
    position: relative;
}
.hero_left div{
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 35px;
    background: rgb(199, 230, 199);
    height: 400px;
    width: 550px;
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    z-index: 33;

}
.hero_left div h1{
    font-size: 30px;
}
.hero_left div p{
    font-size: 17px;
}
.hero_left div a{
    text-decoration: none;
    padding: 10px;
    width: fit-content;
    background: rgb(90, 179, 90);
    text-align: center;
    color: white;
    font-weight: bold;
}
.hero_right{
    flex-basis: 60%;
    height: 100%;
}
.hero_right img{
   width: 90%;
   height: 90%;
   object-fit: cover;
   filter: grayscale(.6);
   z-index: -3;
}
@media (max-width: 1300px){
    .hero_left div{
        left: 60px;
    }
    .hero{
        margin-bottom: 20px;
    }
}
@media (max-width: 1100px){
    .hero_left div{
        left: 30px;
    }
}
@media (max-width: 1050px){
    .hero_left div{
        height: 350px;
        width: 400px;
        right: -100px;
        padding: 20px;
    }
    .hero_left div h1{
        font-size: 22px;
    }
    .hero_left div a{
        font-size: 13px;
    }
}
@media(max-width: 900px){
   .hero_right img{
    width: 500px;
    height: 500px;
   }
    .hero_left div{
        height: 450px;
        width: 450px;
        right: -20px;
        padding: 30px;
    }
    .hero_left div h1{
        font-size: 32px;
    }
    .hero_left div a{
        font-size: 17px;
    }

}
@media(max-width: 500px) {
    .hero_item{
        flex-direction: column;
    }
    .hero_right img{
        width: 100%;
    }
    .hero_left div{
        top: 250px;
        left: 15px;
        width: 90%;
        padding: 20px;
    }
    .hero_left div h1{
        font-size: 28px;
    }
}