.welcome {
    display: flex;
    background: rgb(248, 248, 247);
    padding: 20px 80px;
    margin-top: 90px;
    font-family: "Poppins", serif;
}

.welcome a {
    text-decoration: none;
}

.left {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 60px;
    flex-basis: 40%;
    border: 1px solid rgb(226, 222, 222);
    align-items: center;

}

.left .welcome_img {
    width: 80%;
}

.left button {
    width: 200px;
    display: block;
    border: none;
    background: white;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
}

.right {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    gap: 20px;
    padding: 10px 20px;
}

.first_p {
    color: gray;
    font-size: 19px;
    position: relative;
}

.first_p::after {
    content: '';
    height: 1px;
    background: rgb(90, 179, 90);
    position: absolute;
    right: 60px;
    top: 50%;
    width: 100px;
}

.right h1 {
    font-size: 56px;
    color: rgb(90, 179, 90);
    font-weight: 500;
}

.right .second_p {
    color: grey;
    line-height: 25px;
}

.right button {
    width: 200px;
    padding: 20px 0;
    border: none;
    background: rgb(90, 179, 90);
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all .5s;
}
.right button:hover{
    color: rgb(90, 179, 90);
    background: white;
    border: .5px solid rgb(238, 235, 235);
    border-radius: 5px;
}
@media (max-width: 1100px){
    .welcome{
        margin-top: 30px;
    }
}
@media(max-width: 768px) {
    .welcome {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }
    .first_p {
        font-size: 16px;
    }

    .first_p::after {
        top: 100%;
        bottom: -15px;
        right: 0;
        width: 100%;
        height: 1px;
        color: red;
    }

    .right {
        gap: 30px;
    }

    .right h1 {
        font-size: 36px;
        line-height: 43px;
    }
}