.div_1 {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.div_1 img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -22;
    opacity: .3;
}

.p1 {
    font-size: 18px;
    color: rgb(26, 25, 25);
    position: relative;
}

.p1::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 2px;
    background: rgb(189, 187, 187);
    right: 75%;
    top: 50%;
}

.div_1 h1 {
    font-size: 55px;
    color: rgb(20, 20, 20);
}

.p2 {
    font-size: 22px;
    color: rgb(26, 25, 25);
}

.div_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
    }
    
    .div_2 div {
        display: flex;
        flex-direction: column;
        flex-basis: 44%;
        gap: 10px;
        padding: 20px 40px;
        align-items: center;
        color: grey;
        transition: all 0.6s;
        border-radius: 10px;
        border: 1px grey dashed;
}


.div_2 div img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid grey;
    object-fit: cover;
}

.div_2 h1 {
    font-size: 27px;
    font-weight: 400;
    color: rgb(191, 191, 196);
    text-shadow: 0 0 33px grey;
    position: relative;
}

.div2_p2 {
    text-align: center;
    margin-bottom: 18px;
}

.position {
    font-size: 19px;
}

.icon {
    color: blue;
    font-size: 22px;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}

.div_2 div:hover {
    border: 3px solid grey;
}

@media(max-width: 768px) {
    .div_1 h1 {
        font-size: 33px;
    }

    .div_2 {
        flex-direction: column;
    }

    .p1::after {
        width: 100%;
        bottom: -10px;
        left: 0;
        top: 100%;
        height: 1px;
    }

    .p2 {
        font-size: 19px;
    }

    .div_2 div img {
        height: 150px;
        width: 150px;
    }

    .div_2 div h1 {
        font-size: 17px;
        margin-left: 0;
    }

    .div_2 div {
        padding: 5px;

    }

    .div2_p2 {
        font-size: 15px;
    }

    .icon {
        font-size: 17px;
    }
}