.about {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about .div_1 {
    position: relative;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(66, 60, 60, 0.5), rgba(0, 0, 0, 0.5)), url('blackandwhite.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.div_1 h1 {
    font-size: 55px;
    position: relative;
    font-weight: bold;
    background: rgb(187, 187, 144);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.div_1 h1::after {
    content: '';
    height: 1px;
    width: 17%;
    position: absolute;
    top: 70%;
    right: 60%;
    background: #000;
}

.div_2 {
    display: flex;
    padding: 30px 60px;
    margin-bottom: 30px;

}

.div2_details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 55%;
    padding: 0 160px 0 0;
}

.div2_details p:nth-child(1) {
    color: gray;
    position: relative;
}

.div2_details p:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    width: 100px;
    height: 2px;
    background: grey;
}

.div2_details h1 {
    font-size: 55px;
    font-weight: 300;
    text-shadow: 0 0 10px #000;
}

.div2_img {
    flex-basis: 40%;
    background: #808080;
    position: relative;
}

.div2_img img {
    width: 70%;
    position: absolute;
    top: 50px;
    left: -20px;
    transition: all 0.6s;

}

.div2_img img:hover {
    transform: scale(1.1);
    filter: grayscale(100%);
}

.div_3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px 50px;
}

.div_3 div {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    position: relative;
}

.div_3 div img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.div_3 div span {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    background: gray;
    color: #fff;
}

.div_3 div span h1 {
    font-weight: 500;
}

.icon1,
.icon2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 20px;
}

.fourth {
    background: rgb(243, 242, 242);
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.fourth_firstp,
.fourth h1 {
    text-align: center;
}

.fourth_firstp {
    color: rgb(75, 73, 73);
    font-size: 19px;
    position: relative;
}

.fourth_firstp::after {
    content: '';
    background: gray;
    height: 2px;
    width: 150px;
    position: absolute;
    top: 50%;
    right: 31%;
}

.fourth h1 {
    font-size: 55px;
    font-weight: 400;
}

@media(max-width: 768px) {
    .div_1 h1 {
        font-size: 33px;
    }

    .div_1 h1::after {
        width: 100%;
        bottom: -10px;
        top: 100%;
        left: 0;
        height: 1px;

    }

    .div_2 {
        flex-direction: column;
    }

    .div2_img {
        position: fixed;
    }

    .div2_details p:nth-child(1)::after {
        width: 105%;
        bottom: -10px;
        top: 100%;
        height: 1px;
    }

    .div2_details {
        padding: 20px;
    }

    .div2_details h1 {
        font-size: 28px;
    }

    .div_3 {
        flex-direction: column;
    }

    .div_3 div span {
        padding: 10px 20px;
        font-size: 16px;
    }

    .icon1,
    .icon2 {
        display: none;
    }

    .fourth_firstp::after {
        width: 100%;
        top: 100%;
        bottom: -10px;
        left: 0;
        height: 1px;
    }

    .fourth h1 {
        font-size: 33px;
        font-weight: 500;
    }
}