.upper {
    width: 100%;
    height: 200px;
    font-family: "Poppins", serif;
    opacity: .8;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    gap: 10px;
   color: rgb(0, 0, 0);
    position: relative;
}

.img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .6;
    filter: grayscale(100%);
    z-index: -22;
}

.upper .firstp {
    font-size: 17px;
    position: relative;
}


.upper h1 {
    font-size: 44px;
    font-weight: 600;
    text-shadow: 0 0 10px rgb(29, 31, 29);
}

.secondp {
    position: relative;
    font-size: 19px;
    text-shadow: 0 0 10px rgb(29, 31, 29);

}

.lower{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}
.lower a img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(.8);
    transition: .5s;
}
.lower a img:hover{
  transform: scale(1.1);
}
.lower a{
  text-decoration: none;
  position: relative;
}
.lower a div{
    position: absolute;
    left: 30px;
    width: 80%;
    text-align: center;
    bottom: 20px;
    /* background: rgba(0, 0, 0, 0.5);  */
    border-radius: 5px; 
    backdrop-filter: blur(1px); 
    
}
.lower a  .icon{
    font-size: 85px;
    color: green;
    position: absolute;
    top: 0px;
    right: 0;
}
.lower a div h1{
    padding: 20px 5px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

@media(max-width: 1100px){
    .upper{
        padding: 40px 60px;
    }
    .upper h1 {
    font-size: 34px;
    }
}
@media(max-width: 1100px){
    .lower{
        padding: 20px;
    }
}
@media(max-width: 900px){
    .upper{
        padding: 40px 60px;
    }
    .upper h1 {
    font-size: 28px;
    }
}

@media(max-width: 768px) {
    .upper h1 {
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
    }

    .firstp {
        font-size: 14px;
    }

    .secondp {
        font-size: 16px;
    }

    .firstp::after {
        width: 0;
    }

    .secondp::after {
        height: 1px;
        top: 100%;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
    }

    .upper h1 {
        font-size: 25px;
        font-weight: 400;
        line-height: 33px;
    }

    .upper {
        padding: 20px;
    }

   
}