.whatwedo {
    display: flex;
    justify-content: space-between;
    padding: 80px 40px;
    background: rgb(238, 237, 237);
    font-family: "Poppins", serif;

}

.left {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.first_p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    position: relative;
}

.first_p::after {
    content: '';
    height: 2px;
    width: 100px;
    position: absolute;
    top: 50%;
    right: 42%;
    background: green;

}

.left h1 {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
}

.second_p {
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
    line-height: 25px;
}

.accordion {
  flex-basis: 60%;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.item {
  border-bottom: 1px solid #ddd;
}

.header {
  padding: 20px 10px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgb(90, 179, 90);
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
}

.content {
  overflow: hidden;
  background-color: #f9f9f9;
  transition: max-height 0.3s ease-out, padding 0.3s;
  max-height: 0;
  padding: 0 15px;
}

.content.open {
  max-height: 100px;
  padding: 10px;
}
@media(max-width: 900px) {

    .whatwedo {
        flex-direction: column;
        padding: 20px;
    }

    .first_p {
        font-size: 15px;
    }

    .second_p {
        font-size: 15px;
    }

    .left {
        gap: 4px;
    }

    .left h1 {
        font-size: 25px;
    }

    
    .first_p::after {
        width: 100%;
        left: 0;
        top: 100%;
        bottom: -10px;
    }

    .left_icon {
        left: 0;
    }
    .accordion{
        width: 100%;
    }
    .accordion{
        flex-basis: 100%;
    }
}